body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-weight: 500;
    color: #333333;
}

#main {
    margin: 0 auto;
    width: 50%;
    margin-top: 30px;
}

#inputarea {
    text-align: center;
}

#input_text {
    width: 90%;
    font-size: 14px;
}

#input_text:focus {
    outline: 2px solid #007725;
}

#convertbtn {
    margin: 0 auto;
    height: 70px;
    position: relative;
    cursor: pointer;
}

#btntext {
    position: absolute;
    font-weight: bold;
    color: #007725;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

#convertbtn img {
    height: 70px;
    opacity: 0.3;
}

#bottom {
    padding: 5%;
    margin-top: 20px;
}

.iselement {
    background-color: #ebebeb;
    border-radius: 3px;
}

#copybtn {
    background-color: #007725;
    color: #ebebeb;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    box-shadow: none;
}

#copybtn:hover {
    background-color: #045e21;
}
